* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:radial-gradient(rgb(253, 242, 143) ,rgb(63, 37, 12) );
}

.title {
    font-size: 85px;
    animation: flip 2s;
}

@keyframes flip {
    0% {
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.inputcontainer {
    background-color: rgba(63, 37, 12, 0.15);
    padding: 10px;
    margin: 25px ;
    display: flex;
    border-radius: 8px;
    box-shadow: 3px 9px 30px rgba(0, 0, 0, 0.35);
}

.inputcontainer input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: black;
    outline: none;
    margin-right: 10px;
}

.inputcontainer input::placeholder {
    color: black;
}

.buttonsearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.buttonsearch:hover {
    transform: scale(1.2);
}

.resultcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.555);
    width: 500px;
    border-radius: 8px;
    box-shadow: 3px 9px 30px rgba(0, 0, 0, 0.35);
}

.resultcontainer h2 {
    margin: 16px 0;
    font-size: 32px;
}

.resultcontainer span {
    margin-bottom: 16px;
    font-weight: bold;
}

@media ( max-width: 620px) {
    .title {
        font-size: 60px;
    }

    .resultcontainer h2 {
        font-size: 20px;
    }

    .resultcontainer {
        width: 80%;
        min-height: 250px;
    }
}